<style>
  .search-condition-modal .modal {
      min-height: 0 !important;
  }
  
  .search-condition-popup {
      height: 80%;
      top: 20%;
      background-color: #ffffff;
  }
  
  .firstColumn {
      width: 50%;
      float: left;
      color: #000;
  }

  .secondColumn {
      width: 50%;
      float: left;
      background: #F2F2F2;
      color: #000;
      border-radius: 2px;
  }
</style>

<div class="search-condition-modal">
  <ion-modal-view class="search-condition-popup">
    <ion-header-bar class="bar-dark">
      <h1 class="title">{{conditionName}}</h1>
      <button class="button button-clear" ng-click="hideSearchModal(true)">Close</button>
    </ion-header-bar>
    <ion-content>
      <ion-item class="secondColumn item item-checkbox" ng-repeat="condition in conditions">
        <label class="checkbox">
          <input type="checkbox" ng-model="condition.selected" ng-click="checkAllSelected({{condition}})"/>
        </label>
        {{condition.koreanName}}
      </ion-item> 
    </ion-content>
  </ion-modal-view>
</div>

<script>

</script>
