<style>
  .search-condition-modal .modal {
      min-height: 0 !important;
  }
  
  .search-condition-popup {
      height: 80%;
      top: 20%;
      background-color: #ffffff;
  }
  
  .firstColumn {
      width: 50%;
      float: left;
      color: #000;
  }

  .secondColumn {
      width: 50%;
      float: left;
      background: #F2F2F2;
      color: #000;
      border-radius: 2px;
  }
</style>

<div class="search-condition-modal">
  <ion-modal-view class="search-condition-popup">
    <ion-header-bar class="bar-dark">
      <h1 class="title">{{conditions[0].koreanName}}</h1>
      <button class="button button-clear" ng-click="hideSearchModal()">Close</button>
    </ion-header-bar>
    <ion-content class="has-subheader">
      <ion-item class="secondColumn" ng-repeat="condition in conditions">
        {{condition.koreanName}}
      </ion-item> 
    <!-- 여기에다가 condition 넣어야 -->
    </ion-content>
  </ion-modal-view>
</div>

