<ion-view view-title="Music Detail">
    <ion-content class="sh-detail-content">
    	<div class="row responsive-sm" style="margin-bottom:8px;">
    		<div class="list card" style="margin:2px 0 0 0;">

			  <div class="item">
			    <h2><strong>{{music.koreanName}}</strong></h2>
			    <p>( {{music.name}} )</p>
			  </div>
			
			  <div class="row item">
			  	<div class="col item-image" style="margin-bottom:0;">
			    	<img src="http://kongnamul.pythonanywhere.com/static/musics/img/Beethoven.jpg">
			  	</div>
			  	<div class="col col-75" style="margin-bottom:0; padding-top: 20px;">
	                <p><strong>작곡가 : </strong>{{music.composer}}</p>
	                <p><strong>장르 : </strong>{{music.genre}}</p>
	                <p><strong>작곡연도 : </strong>{{music.compositionYear}}</p>
	                <p><strong>악기 : </strong>{{music.instrument}}</p>
	                <div class="row">
				  	<div class="col" style="text-align : center;">
				  		<label class="icon-label">
				  			<i class="icon ion-social-youtube assertive" style="font-size:40px"></i>
				  		</label>
				  	</div>
				  	<div class="col" style="text-align : center;">
				  		<label class="icon-label">
				  			<i class="icon ion-ios-heart energized" style="font-size:40px"></i>
				  		</label>
				  	</div>
				  	<div class="col" style="text-align : center;">
				  		<label class="icon-label">
				  			<i class="icon ion-android-add-circle positive" style="font-size:40px"></i>
				  		</label>
				  	</div>
				  	</div>
			  	</div>
			  </div>
			  
			</div>
    	</div>

		<div class="row responsive-sm">
			<div class="button-bar">
			  <label class="button evaluation-button">
			  	<i class="icon ion-star calm"></i><span>평가</span>
			  </label>
			  <label class="button review-button">
			  	<i class="icon ion-ios-paper calm"></i><span>리뷰</span>
			  </label>
			  <label class="button hashtag-button">
			  	<i class="icon ion-pricetag calm"></i><span>해시태그</span>
			  </label>
			</div>
			<div class="content-panel">
				<div class="list card" style="margin:`10px 8px 10px 8px !important;">
				  <div class="item item-avatar">
				    <img src="avatar.jpg">
				    <h2>Lv 3. 김준기</h2>
				    <p>완전 좋아요!</p>
				  </div>
				
				  <div class="item item-image" style="height:150px;">
				    <img src="cover.jpg">
				  </div>
				  <div class="row">
				  	<div class="col" style="margin-bottom:0px; border-right:2px solid #ddd">
					  <a class="item item-icon-left assertive" href="#">
					    <i class="icon ion-heart"></i><span>2</span>
					  </a>				  	
				  	</div>
				  	<div class="col" style="margin-bottom:0px;">
	  				  <a class="item item-icon-left" href="#">
					    <i class="icon ion-android-textsms"></i><span>7</span>
					  </a>				  	
				  	</div>
				  </div>
				</div>
				
				<div class="list card" style="margin:`10px 8px 10px 8px !important;">
				  <div class="item item-avatar">
				    <img src="avatar.jpg">
				    <h2>Lv 3. 이정윤</h2>
				    <p>완전 좋아요!</p>
				  </div>
				
				  <div class="item item-image" style="height:150px;">
				    <img src="cover.jpg">
				  </div>
				  <div class="row">
				  	<div class="col" style="margin-bottom:0px; border-right:2px solid #ddd">
					  <a class="item item-icon-left assertive" href="#">
					    <i class="icon ion-heart"></i><span>2</span>
					  </a>				  	
				  	</div>
				  	<div class="col" style="margin-bottom:0px;">
	  				  <a class="item item-icon-left" href="#">
					    <i class="icon ion-android-textsms"></i><span>7</span>
					  </a>				  	
				  	</div>
				  </div>
				</div>
				
				<div class="list card" style="margin:`10px 8px 10px 8px !important;">
				  <div class="item item-avatar">
				    <img src="avatar.jpg">
				    <h2>Lv 3. 한승진</h2>
				    <p>완전 좋아요!</p>
				  </div>
				
				  <div class="item item-image" style="height:150px;">
				    <img src="cover.jpg">
				  </div>
				  <div class="row">
				  	<div class="col" style="margin-bottom:0px; border-right:2px solid #ddd">
					  <a class="item item-icon-left assertive" href="#">
					    <i class="icon ion-heart"></i><span>2</span>
					  </a>				  	
				  	</div>
				  	<div class="col" style="margin-bottom:0px;">
	  				  <a class="item item-icon-left" href="#">
					    <i class="icon ion-android-textsms"></i><span>7</span>
					  </a>				  	
				  	</div>
				  </div>
				</div>
												
			</div>
		</div>		
		
    </ion-content>

</ion-view>
