<style>
    .custom-list{
        position: relative;
        padding: 8px; 
        border: 2px solid #efefef;
        margin: 4px 0 4px 1%;
        width: 98%;
        border-radius: 4px;
    }
    
    .custom-list:hover{
        background-color: #efefef;
    }
    
    .list-thumbnail-area{
        position: relative;
        display: inline-block;
        width: 70px;
        height: 50px;
        border: 2px solid #efefef;
        border-radius: 4px;
        margin: 4px 0 0 0;
    }
    
    .list-name-area{
        position: absolute;
        display: inline-block;
        width: 75%;
        height: 50px;
        padding: 4px;
        margin: 4px 0 0 0;
    }
    
    .top-title{
        font-weight: bold;
        margin-top: 5px;
    }
    
    .custom-arrow-icon {
        margin: 0 0 0 4px;
        font-size: 18px;
    }
    
</style>

<ion-view>
  <ion-nav-title>
    <button ng-click="showSearchModal()" ng-controller="SearchModalController" class="top-title button button-clear header-button"><span>모든 곡</span><i class="custom-arrow-icon ion-ios-arrow-down"></i></button>
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear icon ion-ios-search" ng-click="openHelp($event)"></button>
  </ion-nav-buttons>
  <div class = "bar bar-subheader bar-light">
    <button class="button button-clear">평점순<i class="custom-arrow-icon ion-arrow-down-b"></i></button>
  </div>
  <ion-content class = "padding has-subheader">
    <ion-refresher on-refresh="load()" pulling-text="Pull to Refresh"></ion-refresher>
    <!--<ion-list>
      <ion-item ng-repeat="music in musics" ui-sref="tabs.detail({id: music.id})">
        {{music.composer}} - {{music.name}}
      </ion-item>
    </ion-list>-->
      <ion-item class="card-wrap" ng-repeat="music in musics" ui-sref="tabs.musicDetail({id: music.id})">
        <ion-card>

          <ion-card-header>
          </ion-card-header>

          <ion-card-content>
            <div class="song-name">
                <span style="font-weight: 800;">{{music.koreanName}}</span>
            </div>
            <div class="composer-name">
                <span style="font-size:16px; font-weight: 500;">{{music.composer}}</span>
            </div>
            <p class="star_rating">
                <a href="#" class="on">★</a>
                <a href="#" class="on">★</a>
                <a href="#" class="on">★</a>
                <a href="#">★</a>
                <a href="#">★</a>
            </p>

            <div class="thumb-icons-wrap">
                <span class="glyphicon glyphicon-thumbs-up" style="font-size: 25px; font-weight: 800; display: inline-block;"></span>
                <span style="font-size: 25px; font-weight: 500; display: inline-block;">50</span>
            </div>
            <div class="composer-thumbnail">
                <img src="http://kongnamul.pythonanywhere.com/static/musics/img/Beethoven.jpg" class="composer-img"/>
            </div>
          </ion-card-content>

        </ion-card>
      </ion-item>
  </ion-content>
</ion-view>
