<style>
    .custom-list{
        position: relative;
        padding: 8px; 
        border: 2px solid #efefef;
        margin: 4px 0 4px 1%;
        width: 98%;
        border-radius: 4px;
    }
    
    .custom-list:hover{
        background-color: #efefef;
        opacity: 0.2;
    }
    
    .list-thumbnail-area{
        position: relative;
        display: inline-block;
        width: 70px;
        height: 50px;
        border: 2px solid #efefef;
        border-radius: 4px;
        margin: 4px 0 0 0;
    }
    
    .list-name-area{
        position: absolute;
        display: inline-block;
        width: 75%;
        height: 50px;
        padding: 4px;
        margin: 4px 0 0 0;
    }
    
    
</style>

<ion-view view-title="Musics" hide-back-button="true">
  <ion-nav-buttons side="primary">
    <button class="button" ng-click="openHelp($event)">About</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher on-refresh="load()" pulling-text="Pull to Refresh"></ion-refresher>
    <!--<ion-list>
      <ion-item ng-repeat="music in musics" ui-sref="tabs.detail({music: music.name})">
        {{music.composer}} - {{music.name}}
      </ion-item>
    </ion-list>-->
    <div class="custom-list" ng-repeat="music in musics" ui-sref="tabs.detail({music: music.name})">
        <div class="list-thumbnail-area">
        
        </div>
        
        <div class="list-name-area">
            <span>{{music.composer}} - {{music.name}}</span>
        </div>
      
    </div>
  </ion-content>
</ion-view>
