<ion-tabs class="tabs-icon-top">

  <ion-tab title="Musics" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" ui-sref="tabs.musics">
    <ion-nav-view name="musics-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Musicians" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="tabs.musicians">
    <ion-nav-view name="musicians-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Concerts" icon-on="ion-ios-glasses" icon-off="ion-ios-glasses-outline" ui-sref="tabs.concerts">
    <ion-nav-view name="concerts-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Page" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.mypage">
    <ion-nav-view name="mypage-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
